/* Add CSS Styling */

p{
 background-color: red ;
 font-family: Verdana, "DejanVu Sans", "san-serif"; 
}

#second_number{
color: blue;
font-size: 36px;
}

.third_number{
    font-size:24px;
}

#fourth_number{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}