/* Add CSS Styling */

.click
.click2  {
font-size: 28px;
font-family: Helvetica, "Times New Roman", sans-serif;


}

.click{
    background: black;
    color:white;

}

.click2{
    background:yellow;
}